#hobbies {
    position: relative;
    top: 5rem;
}

.hobbieContainer {
    display: flex;
    position: relative;
    top: 5rem;
    height: 100vh;
    width: 100vw;
    flex-wrap: wrap;
}

.hobbieImg {
    display: flex;
    position: relative;
    height: 33.33%;
    width: 25%;
}

.hobbieImgRow {
    display: flex;
    position: relative;
    height: 33.33%;
    width: 75%;
}
