body {
    margin: 0rem;
    font-family: Dosis;
}

.header {
    position: relative;
    height: 3rem;
    background-color: #4286f4;
}

.header-image {
    position: absolute;
    left: .5%;
    top: 9%;
    max-height: 2.5rem;
}

.header-title {
    position: relative;
    float: left;
    left: 50%;
    transform: translate(-50%, -75%);
    font-size: 2rem;
    color: white;
}

.why-software-container {
    position: absolute;
    height: 100%;
    width: 100% - .25rem;
    border: black;
    border-width: .25rem;
    border-style: solid;
}

.why-software-header {
    position: relative;
    width: auto;
    padding-left: 7.5rem;
    color: #4286f4;
}

.why-software-paragraph {
    position: relative;
    width: 85%;
    padding-left: 4rem;
    padding-right: 4rem;
    font-size: 2rem;
    color: #f44242;
    vertical-align: center;
}