#skills {
    display: flex;
    position: relative;
    top: 10rem;
    justify-content: center;
}

#skillsTitle {
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    height: 4rem;
    width: 4rem;
}

.skillsContainer {
    display: flex;
    position: relative;
    width: 100vw;
    height: 90vh;
    top: 10rem;
    flex-direction: row;
    justify-content: space-evenly;
}

.skillsColumnContainer {
    display: flex;
    position: relative;
    height: auto;
    width: 25%;
    flex-direction: column;
    align-items: center;
}

.skillType {
    display: flex;
    position: relative;
    max-width: 100%;
    font-size: 2rem;
}

.skillTypeContentContainer {
    display: flex;
    position: relative;
    flex-direction: row;
    justify-content: flex-start;
    left: 27%;
}

.skillTypeContentContainer #firstSkillColumn {
    height: 50vh;
}

.skillTypeContentContainer #secondSkillColumn {
    height: 25vh;
}

.skillTypeContentContainer #thirdSkillColumn {
    height: 25vh;
}

.skillBar {
    display: flex;
    position: relative;
    height: 0%;
    width: .35rem;
    background-color: #0089FF;
    margin-right: 1rem;
}

.skillBar::after {
    content: "";
    display: block;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    position: absolute;
        bottom: 0; left: 0;
    width: 100%;
    height: 5%;
}

.skills {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
}

.skill {
    display: flex;
    position: relative;
    align-items: center;
    margin: 0;
    margin-bottom: 1.5rem;
}

.ratingsContainer {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: flex-start;
}

.stars {
    display: flex;
    position: relative;
    max-width: 7rem;
    max-height: 2rem;
    margin-bottom: 1.3rem;
}
