.resumeAndSocialLinks {
    display: flex;
    position: relative;
    height: 40vh;
    width: 100vw;
    flex-direction: row;
    justify-content: center;
    top: 10rem;
    margin-bottom: 10rem;
}

.resumeContainer {
    display: flex;
    position: relative;
    height: 100%;
    width: 50%;
    justify-content: center;
    align-items: center;
}

.resumeLink {
    display: flex;
    position: relative;
    text-align: center;
    font-size: 1.5rem;
}

.socialLinksContainer {
    display: flex;
    position: relative;
    height: 100%;
    width: 50%;
    flex-direction: row;
    flex-flow: wrap;
    justify-content: center;
    align-items: center;
}

.socialLink {
    display: flex;
    position: relative;
    height: 20vh;
    width: 25vw;
    justify-content: center;
    align-items: center;
    transition: background-color 500ms ease-in-out;
    cursor: pointer;
}

.socialIcon {
    display: flex;
    position: relative;
    height: 5rem;
    width: 5rem;
    border-radius: 50%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-color: transparent;
}

.socialLink:hover#gitHub {
    background-color: black;
}

.socialLink:hover#linkedIn {
    background-color: #0077B5;
}

.socialLink:hover#facebook {
    background-color: #3B59AF;
}

.socialLink:hover#instagram {
    background-color: #E1306C;
}

.socialIcon#git {
    background-image: url('../img/github.png');
}

.socialIcon#linked {
    height: 4rem;
    width: 4rem;
    background-image: url('../img/linkedin.png');
}

.socialIcon#face {
    background-image: url('../img/facebook.png');
}

.socialIcon#insta {
    background-image: url('../img/instagram.png');
}
