.pageTitleContainer {
    text-align: center;
}

.pageTitle {
    font-size: 3rem;
    opacity: 0;
}

.timelineContainer {
    display: flex;
    position: relative;
    height: 120vh;
    width: 100vw;
    justify-content: space-around;
    align-items: flex-start;
    align-content: space-around;
}

.verticalTimelineBar {
    display: flex;
    position: relative;
    height: 0%;
    width: .7rem;
    background-color: #0089FF;
    align-items: center;
    justify-content: center;
    visibility: hidden;
}

.verticalTimelineBar::after {
    content: "";
    display: block;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    position: absolute;
        bottom: 0; left: 0;
    width: 100%;
    height: 5%;
}

.drawInAnimationMainBar {
    animation-name: drawInMain;
    animation-duration: 2s;
    animation-delay: 0s;
    animation-timing-function: ease-out;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes drawInMain {
    0% {
        height: 0%;
    }
    100% {
        height: 95%;
        visibility: visible;
    }
}

.dotContainer {
    display: flex;
    position: relative;
    height: 85%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.dot {
    display: flex;
    position: relative;
    height: 1.5rem;
    width: 1.5rem;
    background-color: white;
    border-radius: 50%;
    border-style: solid;
    border-width: 1rem;
    opacity: 0;
}

.dot:nth-child(1) {
    border-color: #28A028;
}

.dot:nth-child(2) {
    border-color: #F66733;
}

.dot:nth-child(3) {
    border-color: #0089FF;
}

.dot:nth-child(4) {
    border-color: #F66733;
}

.dot:nth-child(5) {
    border-color: #0089FF;
}

.experienceColumn {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
    width: 40%;
}

.experienceColumn#secondExperienceColumn {
    top: 9rem;
}

.experience {
    display: flex;
    position: relative;
    height: 15rem;
    width: 90%;
    border-style: solid;
    border-width: 1rem;
    opacity: 0;
}

.experience#firstExperience {
    border-color: #28A028
}

.experience#secondExperience {
    border-color: #F66733;
}

.experience#thridExperience {
    border-color: #0089FF;
    top: 8rem;
}

.experience#forthExperience {
    border-color: #F66733;
    top: -1rem;
}

.experience#fifthExperience {
    border-color: #0089FF;
    top: 17rem;
}

.experienceDescriptionContainer {
    display: flex;
    position: relative;
    height: 100%;
    width: 75%;
    margin-left: 2%;
    flex-direction: column;
    justify-content: flex-start;
}

.experienceTitle {
    display: flex;
    position: relative;
    font-size: 2rem;
    height: auto;
    margin: 0;
}

.experienceLocation {
    display: flex;
    position: relative;
    font-size: 1.2rem;
    margin: 0;
}

.experienceDescription {
    display: flex;
    position: relative;
    margin-top: 1%;
}

.experienceDurationContainer {
    display: flex;
    position: relative;
    width: 25%;
    flex-direction: column;
    align-items: center;
}

.experienceDate {
    display: flex;
    position: relative;
    margin: 0;
    font-size: 1.2rem;
    opacity: 0;
    visibility: hidden;
}

.experienceDurationBar {
    display: flex;
    position: relative;
    width: .35rem;
    height: 0%;
}

#firstExperience .experienceDurationBar {
    background-color: #28A028;
}

#secondExperience .experienceDurationBar {
    background-color: #F66733;
}

#thridExperience .experienceDurationBar {
    background-color: #0089FF;
}

#forthExperience .experienceDurationBar {
    background-color: #F66733;
}

#fifthExperience .experienceDurationBar {
    background-color: #0089FF;
}

.experienceDurationBar::after {
    content: "";
    display: block;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
    position: absolute;
        bottom: 0; left: 0;
    width: 100%;
    height: 10%;
}

.drawInAnimation {
    animation-name: drawIn;
    animation-duration: 1s;
    animation-delay: 0s;
    animation-timing-function: ease-in-out;
    animation-iteration-count: 1;
    animation-direction: normal;
    animation-fill-mode: forwards;
}

@keyframes drawIn {
    0% {
        height: 0%;
    }
    100% {
        height: 80%;
        visibility: visible;
    }
}
