.pageTitleContainer {
    text-align: center;
}

.pageTitle {
    font-size: 3rem;
}

.timelineContainer {
    display: flex;
    position: relative;
    height: 90vh;
    width: 100vw;
    justify-content: space-around;
    align-items: center;
    align-content: space-around;
}

.verticalTimelineBar {
    display: flex;
    position: relative;
    height: 95%;
    width: .7rem;
    background-color: #0089FF;
    align-items: center;
    justify-content: center;
}

.dotContainer {
    display: flex;
    position: relative;
    height: 85%;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}

.dot {
    display: flex;
    position: relative;
    height: 1.5rem;
    width: 1.5rem;
    background-color: white;
    border-radius: 50%;
    border-style: solid;
    border-width: 1rem;
}

.dot:nth-child(1) {
    border-color: #28A028;
}

.dot:nth-child(2) {
    border-color: #F66733;
}

.dot:nth-child(3) {
    border-color: #0089FF;
}

.dot:nth-child(4) {
    border-color: #F66733;
}

.experienceColumn {
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: space-around;
    height: 80%;
    width: 40%;
}

.experienceColumn#firstExperienceColumn {
    top: -3rem
}

.experienceColumn#secondExperienceColumn {
    top: 10rem;
}

.experience {
    display: flex;
    position: relative;
    height: 40%;
    width: 90%;
    border-style: solid;
    border-width: 1rem;
}

.experience#firstExperience {
    border-color: #28A028
}

.experience#secondExperience {
    border-color: #F66733;
}

.experience#thridExperience {
    border-color: #0089FF;
    top: 5rem;
}

.experience#forthExperience {
    border-color: #F66733;
    top: 5rem;
}

.experienceDescriptionContainer {
    display: flex;
    position: relative;
    height: 100%;
    width: 75%;
    margin-left: 2%;
    flex-direction: column;
    justify-content: flex-start;
}

.experienceTitle {
    display: flex;
    position: relative;
    font-size: 2rem;
    height: auto;
    margin: 0;
}

.experienceLocation {
    display: flex;
    position: relative;
    font-size: 1.2rem;
    margin: 0;
}

.experienceDescription {
    display: flex;
    position: relative;
    margin-top: 1%;
}

.experienceDurationContainer {
    display: flex;
    position: relative;
    width: 25%;
    flex-direction: column;
    align-items: center;
}

.experienceDate {
    display: flex;
    position: relative;
    margin: 0;
    font-size: 1.2rem;
}

.experienceDurationBar {
    display: flex;
    position: relative;
    width: .35rem;
    height: 80%;
}

#firstExperience .experienceDurationBar {
    background-color: #28A028;
}

#secondExperience .experienceDurationBar {
    background-color: #F66733;
}

#thridExperience .experienceDurationBar {
    background-color: #0089FF;
}

#forthExperience .experienceDurationBar {
    background-color: #F66733;
}
