#skills {
  display: flex;
  position: relative;;
  justify-content: center;
  margin-top: 5rem;
}

#skillsTitle {
  display: flex;
  align-items: center;
}

.logo {
  display: flex;
  height: 4rem;
  width: 4rem;
}

.skillsContainer {
  display: flex;
  position: relative;
  height: auto;
  width: 100vw;
  flex-direction: row;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.skillsColumnContainer {
  display: flex;
  position: relative;
  width: 25rem;
  flex-direction: column;
  align-items: center;
}

.skillsColumnContainer #firstSkillColumn {
  height: 31rem;
}

.skillsColumnContainer #secondSkillColumn {
  height: 22.3rem;
}

.skillsColumnContainer #thirdSkillColumn {
  height: 19.4rem;
}

.skillType {
  display: flex;
  position: relative;
  max-width: 100%;
  font-size: 2rem;
  opacity: 0;
}

.skillTypeContentContainer {
  display: flex;
  position: relative;
  flex-direction: row;
  justify-content: flex-start;
  left: 27%;
}

.skillBar {
  display: flex;
  position: relative;
  height: 0%;
  width: .35rem;
  background-color: #0089FF;
  margin-right: 1rem;
}

.skillBar::after {
  content: "";
  display: block;
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0), rgba(255, 255, 255, 1));
  position: absolute;
    bottom: 0; left: 0;
  width: 100%;
  height: 5%;
}

.skills {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  opacity: 0;
}

.skill {
  display: flex;
  position: relative;
  align-items: center;
  margin: 0;
  margin-bottom: 1.5rem;
}

.ratingsContainer {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: flex-start;
  opacity: 0;
}

.stars {
  display: flex;
  position: relative;
  max-width: 7rem;
  max-height: 2rem;
  margin-bottom: 1.3rem;
}

.drawInAnimationMainBar {
  animation-name: drawInMain;
  animation-duration: 2s;
  animation-delay: 0s;
  animation-timing-function: ease-out;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-fill-mode: forwards;
}

@keyframes drawInMain {
  0% {
    height: 0%;
  }
  100% {
    height: 95%;
    visibility: visible;
  }
}

@media (max-width: 650px) {
  .skillTypeContentContainer {
    left: 0;
  }
}
