$title-text-color: #F5F7FA;
$description-text-color: #CBD2D9;
$highlight-blue: #47A3F3;
$mate-blue: #374E65;
$background-color: #1F2933;

$border-radius: 10px;

$code-font: 'Roboto Mono';
$font-size-1: 18;
$font-size-2: 24;
$font-size-3: 32;