.booksContainer {
  display: flex;
  position: relative;
  width: 100vw;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.book {
  display: flex;
  position: relative;
  height: 28rem;
  width: 15rem;
  box-shadow: 2px 2px 4px #888888;
  margin: 4rem;
  flex-direction: column;
  align-items: center;
}

.bookCover {
  display: flex;
  position: relative;
  height: 65%;
  width: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 0%;
}

.titleAndAuthorContainer {
  display: flex;
  position: relative;
  height: 50%;
  width: 100%;
  padding: .5rem .5rem;
  flex-direction: column;
  align-items: center;
}

.title {
  display: flex;
  position: relative;
  font-size: 2.25rem;
  text-align: center;
}

.author {
  display: flex;
  position: relative;
  font-size: 1.5rem;
  text-align: center;
}


.bookCover#bornToRun {
  background-image: url('../img/bornToRun.jpeg');
}

.bookCover#habit {
  background-image: url('../img/habit.jpeg');
}

.bookCover#richDadPoorDad {
  background-image: url('../img/richDadPoorDad.jpeg');
}

.bookCover#drive {
  background-image: url('../img/drive.jpeg');
}

.bookCover#rulesForLife {
  background-image: url('../img/12RulesForLife.jpeg');
}

.bookCover#steveJobs {
  background-position: 50% 50%;
  background-image: url('../img/steveJobs.jpeg');
}
