#education {
  display: flex;
  position: relative;
  justify-content: center;
}

#educationTitle {
  display: flex;
  align-items: center;
}

.educationContainer {
  display: flex;
  position: relative;
  width: 100vw;
  flex-direction: column;
  align-items: center;
}

.educationOverviewContainer {
  display: flex;
  position: relative;
  width: 100vw;
  flex-direction: row;
  align-items: center;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 5rem;
}

.majorAndGPAContainer {
  display: flex;
  position: relative;
  width: 83%;
  flex-direction: row;
  justify-content: flex-start;
  flex-wrap: wrap;
}

.sectionTitle {
  display: flex;
  position: relative;
  color: #F66733;
  font-size: 2.25rem;
  margin: 0;
  margin-top: 2rem;
  margin-left: 10%;
}

.majorContainer {
  display: flex;
  position: relative;
  width: 70%;
  min-width: 20rem;
  left: 5%;
  flex-direction: column;
  justify-content: center;
  opacity: 0;
}

.major {
  display: flex;
  position: relative;
  font-size: 1.5rem;
  margin: 0;
  margin-top: 2rem;
}

.minor {
  display: flex;
  position: relative;
  font-size: 1.5rem;
  margin: 0;
  margin-top: 2rem;
}

.GPAContainer {
  display: flex;
  position: relative;
  min-width: 10rem;
  flex-direction: column;
  opacity: 0;
  left: 5%;
}

.GPA {
  display: flex;
  position: relative;
  font-size: 1.5rem;
  margin: 0;
  margin-top: 2.0rem;
}

.highlightOrange {
  color: #F66733;
  margin-left: .5rem;
}

.highlightBlue {
  color: #0089FF;
  margin-left: .5rem;
}

/* Notable Courses styling */

.sectionTitleContainer {
  display: flex;
  position: relative;
  width: 100%;
  justify-content: flex-start;
}

.sectionTitle {
  display: flex;
  position: relative;
  color: #F66733;
  font-size: 2.25rem;
  margin: 0;
  margin-left: 10%;
}

.notableCoursesContainer {
  display: flex;
  position: relative;
  width: 75%;
  flex-direction: row;
  justify-content: center;
  margin-top: 2rem;
  opacity: 0;
}

.classTitle {
  text-align: left;
  font-size: 1.5rem;
  color: #F66733;
  padding-bottom: .5rem;
  padding-right: .5rem;
}

.classDescription {
  text-align: left;
  vertical-align: top;
  font-size: 1.25rem;
  padding-bottom: 1.5rem;
  padding-right: .5rem;
}

.horizontalBarContainer {
  display: flex;
  width: 80%;
  justify-content: flex-start;
  margin-top: .5rem;
}

.horizontalBar {
  display: flex;
  position: relative;
  width: 0%;
  height: .35rem;
  background-color: #0089FF;
}

.horizontalBar::after {
  content: "";
  display: block;
  background: linear-gradient(to right, rgba(255, 255, 255, 0) 90%, rgba(255, 255, 255, 1) 100%);
  position: absolute;
    bottom: 0; left: 0;
  width: 100%;
  height: 100%;
}

@media (max-width: 840px) {
  .classDescription {
    display: none;
  }
}
